<!--The content below is only a placeholder and can be replaced.-->
<div class="editorContainerSection">
    <div style="width: auto;text-align: center;">
        <h2 id="snow"><a class="anchor" href="#snow" style="font-family: 'Sofia Pro', sans-serif;"></a>Testing Rich Text Quill</h2>
    </div>
    <div class="buttonPanel">
            <button (click)="sanitize()" class="btn btn-dark">Sanetize </button>
    </div>
    <div class="editorContainer">
        <quill-editor #editor 
            [(ngModel)]="htmlText"
            placeholder="Enter Text"
            [modules]="quillConfig"
            (onEditorCreated)="onEditorCreated($event)"
            (onSelectionChanged)="onSelectionChanged($event)"
            (onContentChanged)="onContentChanged($event)">
        </quill-editor>
    </div>
</div>

<div class="resultContainerTitle">
    <h3>Not Sanetize</h3>
</div>
<div class="resultContainer">
    {{content}}
</div>

<div class="resultContainerTitle">
    <h3>Sanetize</h3>
</div>
<div class="resultContainer">
    {{contentSanetize}}
</div>

